header {
    background: linear-gradient(rgb(255, 0, 0), rgba(0,0,0,0));
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    position: fixed;
    width: 100vw;
    color: black;
    z-index: 1;
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
}
header nav ul li a {
    text-decoration: none;
    margin: 15px;
    color: black;
    text-shadow: 1px 1px 3px black;
}